<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Profile</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="page-center">
    <div class="card-box">
      <h3>Edit Your Profile</h3>
<hr>
      <form action="/<%= User.userId %>?_method=PATCH" method="POST">
        <p><b>ID:</b> <%= User.userId %></p>
        <p><b>Username:</b> @<%= User.username %></p>
        <input type="number" placeholder="Followers" name="followers" value="<%= User.followers %>">
        <input type="number" placeholder="Following`" name="following" value="<%= User.following %>" style="margin: 10px 0;">
        <textarea name="bio" rows="6"><%= User.bio %></textarea>
        <br><br>
        <button>Save Changes</button>
      </form>
      <form action="/">
        <button style="margin-top: 10px;">← Back</button>
      </form>
    </div>
  </div>
</body>

</html>