<%- include("./includes/Head.ejs") %>

    <title>Edit Your Profile</title>
</head>
<body>
  <div class="page-center">
    <div class="card-box">
      <h3>Edit Your Profile</h3>
<hr>
      <form action="/<%= user._id %>?_method=PATCH" method="POST">
        <p><b>ID:</b> <%= user._id %></p>
        <p><b>Username:</b> @<%= user.username %></p>
        <input type="number" placeholder="Followers" name="followers" value="<%= user.followers %>">
        <input type="number" placeholder="Following`" name="following" value="<%= user.following %>" style="margin: 10px 0;">
        <textarea name="bio" rows="6"><%= user.bio %></textarea>user
        <br><br>
        <button>Save Changes</button>
      </form>
      <form action="/">
        <button style="margin-top: 10px;">← Back</button>
      </form>
    </div>
  </div>
</body>
