<%- include("./Includes/Head.ejs") %>

  <title>Show User Profile</title>


<body>
  <div class="page-center">
    <div class="card-box text-start">
      <h3>User Details</h3>
<hr>
      <p><b>Name :</b> <%= user.name %></p>
      <img src="<%= user.Img %>" class="profile-img">
      <p><b>Username :</b> @<%= user.username %></p>
      <p><b>Followers :</b> <%= user.followers%></p>
      <p><b>Following :</b> <%= user.following %></p>
      <p><b>Bio :</b> <%= user.bio %></p>
      <form action="/">
        <button class="" style="font-size: 18px;">← Back</button>
      </form>
    </div>
  </div>
</body>
