<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show file</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
        img{
            height: 170px !important;
            width: 170px !important;
            border-radius: 10px !important;
        }
    </style>
</head> 
<body>
  <div class="page-center">
    <div class="card-box text-center">
      <h3>User Details</h3>
<hr>
      <p><b>Name :</b> <%= user.name %></p>
      <img src="<%= user.Img %>" class="profile-img">
      <p><b>Username :</b> @<%= user.username %></p>
      <p><b>Followers :</b> <%= user.followers%></p>
      <p><b>Following :</b> <%= user.following %></p>
      <p><b>Bio :</b> <%= user.bio %></p>
      <form action="/">
        <button class="" style="font-size: 18px;">← Back</button>
      </form>
    </div>
  </div>
</body>

</html>